<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoes</title>
  <link href="../static/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/shoes.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://use.typekit.net/vhw4ooj.css">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..
1000&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="sidebar">
    <div class="sidebar-logo">
      <div class="logo">
        <img src="../static/img/logo.svg" alt=" AR's works logo">
      </div>
    </div>
    <nav class="sidebar-nav nav">
      <h2 class="nav-title">Explore</h2>
      <ul class="nav-list">
        <li><a href="#"><img src="../static/img/nav-icons/lightning.svg" alt="New In">New In</a></li>
        <li><a href="{{ url_for('clothing') }}"><img src="../static/img/nav-icons/clothes.svg"
              alt="Clothing">Clothing</a>
        </li>
        <li><a href="{{ url_for('shoes') }}"><img src="../static/img/nav-icons/shoes.svg" alt="Shoes">Shoes</a></li>
        <li><a href="#"><img src="../static/img/nav-icons/bag.svg" alt="Accessories">Accessories</a></li>
        <li><a href="#"><img src="../static/img/nav-icons/acrobat.svg" alt="">Activewear</a></li>
        <li><a href="#"><img src="../static/img/nav-icons/gift.svg" alt="Gifts & Living">Gifts & Living </a></li>
        <li><a href="#"><img src="../static/img/nav-icons/diamond.svg" alt="Inspiration">Inspiration</a></li>
      </ul>
    </nav>
    <div class="sidebar-help">
      <a class="help" href="#" id="open-pop-up">
        <img class="help-icon" src="../static/img/icons/help.png" alt="Help Center"> Help Center
      </a>
    </div>
    <div class="pop-up" id="pop-up">
      <div class="pop-up-container">
        <div class="pop-up-body" id="pop-up-body">
          <p>Contact Us</p>
          <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Number">
            <button>Send</button>
          </form>
          <div class="pop-up-close" id="pop-up-close">&#10006</div>
        </div>
      </div>
    </div>
  </div>

  <main class="main">
    <header class="header">
      <div class="header-search">
        <form class="search">
          <label class="search-label">
            <img class="search-icon" src="../static/img/icons/search.svg" alt="Search">
            <input class="search-input" type="text" placeholder="Search store">
          </label>
        </form>
      </div>
      <div class="header-links">
        <nav class="nav-header">
          <ul class="nav-header-list">
            <li class="nav-header-link-text active"><a href="{{ url_for('home') }}">products</a></li>
            <li class="nav-header-link-text"><a href="{{ url_for('story') }}">story</a></li>
            <li class="nav-header-link-text"><a href="#">manufacturing</a></li>
            <li class="nav-header-link-text"><a href="#">packaging</a></li>
            <li class="nav-header-link-icon"><a href="#"><img src="../static/img/icons/basket.svg" alt="Cart"></a></li>
            <li class="nav-header-link-icon"><a href="#"><img src="../static/img/icons/person.svg" alt="User"></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="cards-wrapper">
      <div class="cards-wrapper-row">
        <div class="cards-wrapper-col col-horizontal">
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes1.webp' ) }}"
                alt="{{ product }}">
            </a>
          </div>
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes2.jpg' ) }}"
                alt="{{ product }}">
            </a>
          </div>
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes3.webp' ) }}"
                alt="Product">
            </a>
          </div>
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes4.webp' ) }}"
                alt="Product">
            </a>
          </div>
        </div>
      </div>
      <div class="cards-wrapper-row">
        <div class="cards-wrapper-col col-horizontal">
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes5.avif' ) }}"
                alt="Product">
            </a>
          </div>
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes6.webp' ) }}"
                alt="Product">
            </a>
          </div>
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes7.png' ) }}"
                alt="Product">
            </a>
          </div>
          <div class="card card-vertical card-product">
            <button class="card-product-fav-btn">
              <svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85293 2.23724L8.42982 1.64278C9.74075 0.290146 11.8283 0.101245 13.2084 1.27701C14.824 2.65599 14.9109 5.13799 13.4608 6.63447L7.79659 12.4831C7.62714 12.658 7.35815 12.658 7.18871 12.4831L1.5246 6.63457C0.0772874 5.13808 0.164165 2.65612 1.77968 1.27713C3.15989 0.101064 5.25089 0.290979 6.55863 1.64301L7.13529 2.23724L7.49411 2.60698L7.85293 2.23724Z" />
              </svg>
            </button>
            <a class="card-product-link" href="#">
              <img class="card-product-img" src="{{ url_for('static', filename='Shoes/shoescard/shoes8.jpg' ) }}"
                alt="Product">
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>

</html>
